<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppURL</key>
	<string>https://betterdisplay.pro</string>
	<key>BuildMachineOSBuild</key>
	<string>24C5089c</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>BetterDisplay</string>
	<key>CFBundleExecutable</key>
	<string>BetterDisplay</string>
	<key>CFBundleIconFile</key>
	<string>BetterDisplay</string>
	<key>CFBundleIconName</key>
	<string>BetterDisplay</string>
	<key>CFBundleIdentifier</key>
	<string>pro.betterdisplay.BetterDisplay</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BetterDisplay</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>pro.betterdisplay.BetterDisplay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>BetterDisplay</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>35753</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>24C5089c</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>15.2</string>
	<key>DTSDKBuild</key>
	<string>24C5089c</string>
	<key>DTSDKName</key>
	<string>macosx15.2</string>
	<key>DTXcode</key>
	<string>1620</string>
	<key>DTXcodeBuild</key>
	<string>16C5023f</string>
	<key>GPUEjectPolicy</key>
	<string>relaunch</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>13.2</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>The app needs to modify the system configuration to save the edited display data.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright Ⓒ waydabber/KodeON</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>SUEnableJavaScript</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://betterdisplay.pro/betterdisplay/sparkle/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>ITSTMp8AypsLawojJ+UR3tm2mN18AFoNMvXf1G3t62s=</string>
</dict>
</plist>
