set shell=zsh\ -i
let mapleader = " "

" Press `f` to activate AceJump
map f <Action>(AceAction)
" Press `F` to activate Target Mode
map F <Action>(AceTargetAction)
" Press `g` to activate Line Mode
"map g <Action>(AceLineAction)


" tmux nav
map <C-H> <C-W>h
map <C-J> <C-W>j
map <C-K> <C-W>k
map <C-L> <C-W>l

:set relativenumber
:set number


set notimeout
set which-key
